.Character {
    transition: transform 0.4s;
}

.Character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;

    /* Hiding it makes the name panels invisible */
    /* overflow:hidden; */
}

.Character[you="true"] {
    z-index: 1;
}

.Character_sprite {
    overflow: hidden;
    top: -3px;
    transform: scale(2);
}

/* BLUE MALE */
.Character[data-color="blue"][data-body-type="1"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_24.png);
}
/* BLUE FEMALE */
.Character[data-color="blue"][data-body-type="2"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_23.png);
}
/* BLUE KING */
.Character[data-color="blue"][data-body-type="3"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_04.png);
}
/* BLUE KNIGHT */
.Character[data-color="blue"][data-body-type="4"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_03.png);
}

/* ORANGE MALE */
.Character[data-color="orange"][data-body-type="1"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_06.png);
}
/* ORANGE FEMALE */
.Character[data-color="orange"][data-body-type="2"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_05.png);
}
/* ORANGE KING */
.Character[data-color="orange"][data-body-type="3"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_10.png);
}
/* ORANGE KNIGHT */
.Character[data-color="orange"][data-body-type="4"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_09.png);
}

/* GREEN MALE */
.Character[data-color="green"][data-body-type="1"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_12.png);
}
/* GREEN FEMALE */
.Character[data-color="green"][data-body-type="2"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_11.png);
}
/* GREEN KING */
.Character[data-color="green"][data-body-type="3"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_16.png);
}
/* GREEN KNIGHT */
.Character[data-color="green"][data-body-type="4"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_15.png);
}

/* GRAY MALE */
.Character[data-color="gray"][data-body-type="1"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_18.png);
}
/* GRAY FEMALE */
.Character[data-color="gray"][data-body-type="2"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_17.png);
}
/* GRAY KING */
.Character[data-color="gray"][data-body-type="3"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_22.png);
}
/* GRAY KNIGHT */
.Character[data-color="gray"][data-body-type="4"] .Character_sprite {
    background: url(/images/Unit/medievalUnit_21.png);
}

.Character_shadow {
    background: url(/images/Unit/shadow.png) no-repeat no-repeat;
    transform: scale(3);
    top: 80px;
    left: 70px;
}

.Character_name-container {
    position: absolute;
    top: -18px;
    left: 18px;
    font-size: 6px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scale(2);
}

.Character_effects-container {
    position: absolute;
    top: -36px;
    left: -2px;
    font-size: 6px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: rgba(1, 1, 1, 0);
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scale(2);
}

/* .Character[you="true"] .Character_name-container {
    color: rgb(72, 255, 0);
} */

.Character_health {
    margin-left: 1px;
    color: rgb(72, 255, 0);
  }