:root {
    --sprite-scale: 1;
}

.Resource[data-resource-type="wood"] .Resource_sprite {
    background: url(../images/Environment/medievalEnvironment_04.png);
    transform: scale(var(--sprite-scale));
}

.Resource[data-resource-type="gold"] .Resource_sprite {
    background: url(../images/Environment/medievalEnvironment_12.png);
    transform: scale(var(--sprite-scale));
}

.Resource[data-resource-type="meat"] .Resource_sprite {
    background: url(../images/Environment/bigBush.png);
    transform: scale(var(--sprite-scale));
}

.Resource_shadow {
    background: url(../images/Unit/shadow.png) no-repeat no-repeat;
    transform: scale(3);
}

.Resource[data-resource-type="wood"] .Resource_shadow {
    top: 80px;
    left: 72px;
}

.Resource[data-resource-type="gold"] .Resource_shadow {
    top: 70px;
    left: 72px;
}

.Resource[data-resource-type="meat"] .Resource_shadow {
    top: 70px;
    left: 72px;
}

.Resource_amount-container {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 6px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scale(2);
}

@keyframes shake {
    0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(var(--sprite-scale)) }
    12.5% { transform: translate3d(-6%, 0, 0) rotate(5deg) scale(var(--sprite-scale)) }
    25% { transform: translate3d(6%, 0, 0) rotate(-5deg) scale(var(--sprite-scale)) } 
    37.5% { transform: translate3d(-3%, 0, 0) rotate(2.5deg) scale(var(--sprite-scale)) } 
    50% { transform: translate3d(3%, 0, 0) rotate(-2.5deg) scale(var(--sprite-scale)) } 
    100% { transform: translate3d(0, 0, 0) scale(var(--sprite-scale)) } 
}

.shake {
    animation: shake 0.35s;
}