html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
}

.unit-cell {
    height: 64px;
    width: 64px;
    margin: 0;
    position: absolute;
}

.Unit-cell-sprite {
    background: url(/images/Tile/medievalTile_43.png) no-repeat no-repeat;
    height: 64px;
    width: 64px;
}