.player-info {
    position: absolute;
    top: 0;
    left:0;
    padding: 1em;
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
    color: white;
}

.player-stats, .spawn-menu, .minimap, .message {
    padding: 1em;
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
    color: white;
}

.player-info, .player-stats, .spawn-menu, .minimap, .message {
    font-size: 24px;
}

.player-name {
    font-weight: bold;
    font-size: 28px;

    background: #333;
    color: white;

    text-transform: uppercase;
    white-space: nowrap;

    padding: 1px 2px 1px;
    border-radius: 3px;
}

.player-reso-table, .player-stats-table, .player-spawn-table, .minimap-cell-holder {
    background: #333;
    color: white;

    white-space: nowrap;

    padding: 0px 0px 0px;
    border-radius: 6px;
}

.player-stats {
    z-index: 2; 
    position: absolute; 
    right: 0px; 
    top:0px;
}

.stat-upgrade-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
    font-size: 28px;
    height: 30px;
}

.upg-cost-table {
    font-size: 20px !important;
    line-height: 1;
}

.spawn-villager-cost-table, .spawn-knight-cost-table, .spawn-mage-cost-table {
    text-align: center;
}

/* SPAWN TABLE */
.spawn-menu {
    z-index: 2; 
    position: absolute; 
    left: 0px; 
    bottom:0px;
}

.spawn-table-img {
    width: 64px;
    height: 64px;
    background-color: red;
    margin: 5px;
    
}

.spawn-table-img {
    transform: scale(2);
    image-rendering: pixelated;
}

#villager-image.spawn-table-img {
    background: url(../images/Unit/medievalUnit_24.png) no-repeat no-repeat;
}

#knight-image.spawn-table-img {
    background: url(../images/Unit/medievalUnit_03.png) no-repeat no-repeat;
}

#mage-image.spawn-table-img {
    background: url(../images/Unit/medievalUnit_01.png) no-repeat no-repeat;
}

.player-spawn-table {
    overflow: hidden;
}

.player-spawn-table-single-item {
    background-color: #222;
    padding: 0px 0px 0px;
    border-radius: 6px;
}

.spawn-unit-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
}

/* Minimap */
.minimap {
    z-index: 2; 
    position: absolute; 
    right: 0px; 
    bottom:0px;
    border-radius: 6px;
    padding: 0.5em;
}

.minimap-frame {
    background-color: #333;
    padding: 0.5em;
    border-radius: 6px;
}

.minimap-cell-holder {
    width: 180px;
    height: 180px;
    background-color: rgb(15, 70, 15);
}

.minimap-unit-cell {
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 3;
    border-radius: 6px;
}

.minimap-unit-cell[data-type="resource"] {
    background-color: rgb(150, 105, 10);
}

.minimap-unit-cell[data-type="ground"] {
    background-color: rgb(15, 70, 15);
}

.minimap-unit-cell[data-type="you"] {
    background-color: rgb(255, 255, 255);
}

.minimap-unit-cell[data-type="ally"] {
    background-color: rgb(0, 224, 0);
}

.minimap-unit-cell[data-type="enemy-player"] {
    background-color: rgb(255, 255, 0);
}

.minimap-unit-cell[data-type="enemy-unit"] {
    background-color: rgb(255, 0, 0);
}

/* MESSAGES */
.message {
    z-index: 2; 
    position: absolute; 
    top: 20px;

    border-radius: 6px;
    padding: 1em;

    font-weight: bold;
    font-size: 18px;

    background: #333;
    color: white;

    text-transform: uppercase;
    white-space: nowrap;

    border-radius: 6px;    
}

.curr-msg {
    top: 20px;
    animation: message-move 2s forwards;
}   

@keyframes message-move {
    0% { opacity: 1;}
    100% { opacity: 0; top: 0px; transform: translate3d(0, -15px, 0)}
}